.header {
  background-color: rgba(51, 51, 51, 0.9);
  backdrop-filter: blur(10px);
  padding: 1rem;
  width: 25%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;

      li {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s ease;
          font-size: 20px;

          &:hover {
            text-decoration: underline;
            color: $secondary-color;
          }
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: rgba(51, 51, 51, 0.9);
        backdrop-filter: blur(10px);
        border-radius: 0 0 10px 10px;
        width: 100%;

        li {
          margin: 0;
          padding: 1rem;
          text-align: center;

          a {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }

  &.nav-active nav ul {
    display: flex;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    div {
      width: 24px;
      height: 2px;
      background: #fff;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
    }

    @media (max-width: 768px) {
      display: flex;
      position: absolute;
      right: 50px;
    }
  }

  .hamburger.active div:nth-child(1) {
    transform: rotate(45deg);
  }

  .hamburger.active div:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }

  .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg);
  }

  @media (max-width: 1024px) {
    width: 40%;
  }

  @media (max-width: 768px) {
    width: 100%;
    border-radius: unset;
  }
}
